<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
    </head>
    <body>
        <h2>Tous les scores de 2020</h2>
        <% for (var team of teams) { %>
            <p>
        
            <span>Équipe <%= team.team_number %> | </span>
            <span>Pointage <%= team.score %></span>
            </p>
        <% } %>
        
    </body>
</html>